* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #ccc;
    background: #000;
}

a {
    text-decoration: none;
}

ul{
    list-style: none;
}

li {
    display: block;
    margin: auto;
}

img {
    width: 100%;
}

.container { 
    margin: auto;
    overflow: hidden;
}

.navbar {
    font-size: 14px;
}

.navbar .container {
    justify-content: end;
}

.menu {
    display: flex;
    margin: 30px 0px;
    justify-self: flex-end;
    align-items: baseline;
    justify-content: end;
    width: 512px;
}

.firstScreen {
    background: linear-gradient(180deg, rgba(26, 26, 26, 0) 34.9%, #1A1A1A 91.15%), url(../res/bmw-image.webp);
}
