.fadeIn {
    animation: fadeIn 3s;
    -webkit-animation: fadeIn 3s;
    background: rgba(75, 54, 54, 0.5);
    padding: 10px;
   }
   @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
   }
   @-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
   }
body {
    text-shadow: 1px 1px 1em black, 0 0 1em lightseagreen; /* Параметры тени */
    text-align: center;
    font-family: Georgia;
    font-size: 20px;
    color : #fff;
    
    
}
.block {
    background: rgba(0,0,0,0.6); /* Полупрозрачный фон */
    color: #fff; /* Цвет текста */
    padding: 20px; /* Поля вокруг текста */
}

article {
    background-image: url("assets/fon.jpg"); /* Фоновая картинка */
    background-size: cover; /* Растягиваем фон */
}

header {
    text-align: center;
    display : block;
    margin: 20%;
    padding: 20px;

}

a {
    color: magenta;
    font-family: Georgia;
}