.fadeIn {
    animation: fadeIn 3s;
    -webkit-animation: fadeIn 3s;
    background: rgba(75, 54, 54, 0.5);
    padding: 10px;
   }
   @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
   }
   @-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
   }
body {
    text-shadow: 1px 1px 2px black, 0 0 1em magenta; /* Параметры тени */
    text-align: center;
    font-family: Georgia;
    color : #fff;
    background-image: url("assets/fon.jpg"); /* Фоновая картинка */
    background-size: cover; /* Растягиваем фон */
    
}
.block {
    background: rgba(0,0,0,0.6); /* Полупрозрачный фон */
    color: #fff; /* Цвет текста */
    padding: 20px; /* Поля вокруг текста */
}

header {
    text-align: center;
    display : block;

}

a {
    color: magenta;
    font-family: Georgia;
}