header {
    text-align: center;
}

nav.navbar {
    background-color: #333;
    color: #fff;
}

ul.navbar {
    padding:0;
    list-style: none;
    display: inline;
}

li.navbar {
    display: inline;
}

a.navbar {
    color: #fff;
    font-size: 18px;
    padding-right: 15px;
}

body {
    text-align: center;
    font: normal 20px/1.6em Georgia, serif;
    font-size: 150%;
}

a {
    color: #fff;
    text-decoration: none;
}

/* Навигация 
.firstLink {
    background-color: #E3F2FD;
}
.secondLink {
    background-color: #BBDEFB;
}
.thirdLink {
    background-color: #90CAF9;
}
.fourthLink {
    background-color: #64B5F6;
}
.fifthLink {
    background-color: #42A5F5;
}
.sixthLink {
    background-color: #2196F3;
}
- цвета */