 * {
    background-color: #1a1a1d;
    color: white;
    border: 0px solid white;
    margin: 0;
    font-size:1.1em;
    font-family: -apple-system, BlinkMacSystemFont,
        'Segoe UI', system-ui, Roboto, Oxygen-Sans, Ubuntu,
        Cantarell, 'Helvetica Neue', sans-serif;
}
nav {
    display: flex;
    position: relative;
    width: 22%;
    justify-content: space-between;
    height: 60px;
    min-width: 200px;
    padding: 5px;
    
}



.menu_button {
    display: flex;
    flex-direction:column;
    align-content: center;
    justify-content: center;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont,
        'Segoe UI', system-ui, Roboto, Oxygen-Sans, Ubuntu,
        Cantarell, 'Helvetica Neue', sans-serif;
    font-size: 1em;
    border-radius: 15px;
    border: 3px solid #950740;
    padding:  1em;
    left: 5px;
}

.turned_on_button {
    background-color: #4e4e50;
    color: rgb(28,28,45);
    box-shadow: 0 0 8px #6F2232;
}




main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-height: 60vh;
    flex-wrap: wrap;
    margin: 130px 5px;
}

header {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    min-width: 200px;
    
}

h1, h2 {
    color: #950740;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont,
        'Segoe UI', system-ui, Roboto, Oxygen-Sans, Ubuntu,
        Cantarell, 'Helvetica Neue', sans-serif;
    text-shadow: 0 0 4px #6F2232;
    text-align: center;
}
h1 {
    font-size: 3em;
    line-height: .7em;
    padding: 8px;
    margin-top: 4px;
    margin-right: 15px;
}

h2 {
    font-size: 2em;
    margin-bottom: 1em;
}

footer {
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    background: #1a1a1d;
    width: 100vw;
    height: 80px;
    bottom: 0;
    left: 0;

}

.pic {
    width: 15%;
    min-width: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    height: 10em;
}
.pic img {
    max-width: 90%;
    max-height: 65%;
    margin: 5px 0;
}

.pic p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 160px;
    margin: 5px 0;
}
.center_p {
    text-align: center;
    margin: 1em;
}


.log_message p{
    overflow: auto;
    text-overflow: ellipsis;
    max-width: 300px;
}

