header {
    text-align: center;
    display : block;
}

body {
    text-align: center;
    font: normal 20px/1.6em Georgia, serif;
    font-size: 150%;
}

a {
    text-decoration: none;
    display:inline-block;
}

/* Навигация - цвета */
.firstLink {
    background-color: #E3F2FD;
}
.secondLink {
    background-color: #BBDEFB;
}
.thirdLink {
    background-color: #90CAF9;
}
.fourthLink {
    background-color: #64B5F6;
}
.fifthLink {
    background-color: #42A5F5;
}
.sixthLink {
    background-color: #2196F3;
}
